{% extends "pure_blog/base.html" %}

{% block content %}
<section class="section">
  <div class="container is-fluid">
    <div id="edit-post" class="edit-post">
      <h2 class="subtitle is-2">Update Post</h2>

      <div>
        <p><i>Updated {{post/updated-date|date:"yyyy-MM-dd HH:mm"}}
          by {{user/first-name}} {{user/last-name}}</i></p>
      </div>

      <form action="/posts/{{post/id}}" method="post">
        <input type="hidden" name="__anti-forgery-token" value="{{csrf-token}}"
        <div>
          <label for="post-title">Title:</label>
          <input id="post-title" name="title" type ="text" value="{{post/title}}">
        </div>
        <div>
          <label for="post-text">Body:</label>
          <textarea id="post-text" name="text" rows="15" cols="66">
            {{post/text}}
          </textarea>
        </div>
        <button class="button is-danger" id="add-post" type="submit">Update</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
