{% extends "pure_blog/base.html" %}

{% block content %}
<section class="section">
  <div class="container is-fluid">
    <p>
      <a class="button is-danger" href="{{post-edit-link}}">EDIT!</a>
    </p>

    <h2 class="title is-2">{{post/title}}</h2>

    <div>
      <p><i>Created {{post/created-date|date:"yyyy-MM-dd HH:mm"}}
        by {{user/first-name}} {{user/last-name}}</i></p>
    </div>

    <div class=""
      {{post/text|linebreaks|safe}}
    </div>
  </div>
</section>
{% endblock %}
