{% extends "pure_blog/base.html" %}

{% block content %}
<section class="section">
  <div class="container is-fluid">
    <a class="button is-danger" href="/post-add">New Post</a>
    <h2 class="subtitle is-2">Recent Posts</h2>
    <ul id="post-list">
      {% for p in posts %}
      <li>
        <article class="message is-large">
          <div class="message-header">
            <a class="button is-fullwidth" href="/posts/{{p.post/id}}">
              <h3 class="subtitle">{{p.post/title}}</h3>
            </a>
          </div>
          <div class="messabe-body content">
            <!-- see here for date formats: https://github.com/yogthos/Selmer#date -->
            <p><i>Posted {{p.post/created-date|date:"yyyy-MM-dd HH:mm"}}
              by {{p.user/first-name}} {{p.user/last-name}}</i></p>
            <p>{{p.post/preview}}</p>
          </div>
        </article>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
